<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>6085425053-dqa8uh14cbjvnaj6gpu56vlmcnofl9p9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.6085425053-dqa8uh14cbjvnaj6gpu56vlmcnofl9p9</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>6085425053-8oa9ak56q9vebdieoa7f4m3n0kdi5bv8.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBTYJprwMRFIhYVUk3TOxUhf5X2jfm_-Ws</string>
	<key>GCM_SENDER_ID</key>
	<string>6085425053</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.salatii</string>
	<key>PROJECT_ID</key>
	<string>prayers-41656</string>
	<key>STORAGE_BUCKET</key>
	<string>prayers-41656.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:6085425053:ios:28c120456f02440944a174</string>
	<key>DATABASE_URL</key>
	<string>https://prayers-41656.firebaseio.com</string>
</dict>
</plist>